<% if user_signed_in? %>
    <% if current_user.is_admin? %>
      <div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.description %></td>
        <td><%= link_to 'Show', situation %></td>
        <td><%= link_to 'Edit', edit_situation_path(situation) %></td>
        <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Situation', new_situation_path %>
<% end  %>
<% end  %>