<% if user_signed_in? %>
    <% if current_user.is_admin? %>
      <div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>
<div class="container w-75 bg-light border border-light">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Description</th>
      <th colspan="2"><%= link_to 'Nova situação', new_situation_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.description %></td>
        <td><%= link_to 'Editar', edit_situation_path(situation) , class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger " %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<% end  %>
<% end  %>