<div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>

<p>
  <strong>Description:</strong>
  <%= @situation.description %>
</p>

<%= link_to 'Edit', edit_situation_path(@situation) %> |
<%= link_to 'Back', situations_path %>
