<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @order_meal.quantity %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_meal.order.id %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @order_meal.meal.name %>
</p>

<%= link_to 'Edit', edit_order_meal_path(@order_meal) %> |
<%= link_to 'Back', helper_path(@order_meal.order_id) %>
