<head>
    <meta charset='UTF-8'>
</head>
<body>
    <div class="landing_background">
    <%= render partial: "header" %>
    </div>
    <div style='padding-left: 17%; padding-right: 17%;'>
        <%= form_for @user do |f| %>
        <div class="form-row">
            <div class="col">
            <div class='form-group'>
                <%= f.label :display_name, 'Nome Exibido'%>
                <%= f.text_field(:display_name, class: 'form-control', placeholder: current_user.display_name) %>
            </div>
            </div>
            <div class="col">
            <div class='form-group'>
                <%= f.label :full_name, 'Nome Completo' %>
                <%= f.text_field(:full_name, class: 'form-control', placeholder: current_user.full_name) %>
            </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
            <div class='form-group'>
                <%= f.label :email, 'Email' %>
                <%= f.email_field(:email, class: 'form-control', placeholder: current_user.email) %>
            </div>
            </div>
            <div class="col">
            <div class='form-group'>
                <%= f.label :current_password, 'Senha Atual' %>
                <%= f.password_field(:current_password, class: 'form-control') %>
            </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
            <div class='form-group'>
                <%= f.label :password, 'Nova Senha' %>
                <%= f.password_field(:password, class: 'form-control') %>
            </div>
            </div>
            <div class="col">
            <div class='form-group'>
                <%= f.label :password_confirmation, 'Confirmar Nova Senha' %>
                <%= f.password_field(:password_confirmation, class: 'form-control') %>
            </div>
            </div>
        </div>
            <%= f.submit('Salvar', class: 'btn btn-primary') %>
            <%= link_to 'Voltar', user_path, class: 'btn btn-primary' %>
        <% end %>
    </div>
</body>
