<head>
    <meta charset='UTF-8'>
</head>
<body>
     <div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>
    <h1>Bem vindo, <%= current_user.display_name %>!</h1>
    <br>
    <h3>Nome Exibido</h3>
    <p><%= current_user.display_name %></p>
    <h3>Nome Completo</h3>
    <p><%= current_user.full_name %></p>
    <h3>Email</h3>
    <p><%= current_user.email %></p>
    <br>
    <div class='form-group'>
        <%= link_to 'Editar', edit_user_path, class: 'btn btn-primary' %>
        <%= link_to 'Voltar', backoffice_path, class: 'btn btn-primary' %>
        <%= link_to 'Sair', destroy_user_session_path, method: 'delete', class: 'btn btn-primary' %>
    </div>
</body>
