<head>
    <meta charset='UTF-8'>
</head>
<body>
    <div class="landing_background">
    <%= render partial: "header" %>
    </div>
    <div class="container w-75">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th><p>Nome exibido</p></th>
                <th><p>Nome completo</p></th>
                <th><p>e-mail</p></th>
                <th><p>Editar</p></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p><%= current_user.display_name %></p></td>
                <td><p><%= current_user.full_name %></p></td>
                <td><p><%= current_user.email %></p></td>
                <td><p><%= link_to 'Editar', edit_user_path, class: 'btn btn-primary' %></p></td>
            </tr>
        </tbody>
    </table>
    </div>
</body>