<head>
    <meta charset='UTF-8'>
</head>
<body>
    <div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>
      <div class="container w-75 bg-light border border-light">
    <table class="table">
        <thead class="thead-light">
            <th>Nome Social</th>
            <th>Nome Completo</th>
            <th>e-mail</th>
        </thead>
        <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.display_name %></td>  
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>   
        </tr>
    <% end %>
        </tbody>
    </table>
    </div>
</body>
