<div class="landing_background">

<% if user_signed_in? %>
<%= render 'signed_user' %>
<% else %>
<%= render 'unsigned_user' %>
<% end %>
</div>
<div class="container w-75">
<!-- pratos -->
<% @categories = Category.all %>
<% @categories.each do |category| %>
    <div class="container">
        <h3><%= category.name %></h3>
        <% category.meals.in_groups_of(3, false) do |group| %>
            <div class='row'>
                
                <% group.each do |meal| %>           
                        
                        <div class="card w-25">
                            <% if meal.image.attached? %>
                                <%= image_tag(meal.image , class:"card-img-top") %>
                            <% else %>
                                <%= image_tag('food/espaguete.jpg', class:"card-img-top") %>
                            <% end %>
                            <div class="card-body">       
                                <h5 class="card-title"><%= meal.name %></h5>
                                <h6 class="card-subtitle"><%= meal.description %></h6>
                                <p class="card-text">R$ <%= number_with_precision(meal.price, :precision => 2) %></p>
                                
                                <% if meal.available %>
                                <%= form_with url: add_path(id:meal.id.to_i), method: :put do |f| %>
                                    <%= f.number_field :quantity,{:value => 1,:class => "multiple_text_field form-control", min: 1 } %></br><br>
                                    <%= f.submit "adicionar ao meu prato", class: "btn btn-success" %>
                                <% end %>
                                <% else %>
                                <button type="button" class="btn btn-danger disabled">Indisponível</button>
                                <% end %>
                            </div>
                        </div>
                        
                <% end %>
                              
            </div>
        <% end %>
  </div>
<% end %>

<%= render partial: "carts/cart" %>

</div>