<% if user_signed_in? %>
<%= render 'signed_user' %>
<% else %>
<%= render 'unsigned_user' %>
<% end %>

<div class="container w-75">
<!-- pratos -->
<% @categories = Category.all %>
<% @categories.each do |category| %>
    <div class="container">
        <h3><%= category.name %></h3>
        <% category.meals.in_groups_of(3, false) do |group| %>
            <div class='row'>
                
                <% group.each do |meal| %>           
                        
                        <div class="card w-25">
                            <% if meal.image.attached? %>
                                <%= image_tag(meal.image,class:"card-img-top") %>
                            <% else %>
                                <%= image_tag('food/espaguete.jpg', class:"card-img-top") %>
                            <% end %>
                            <div class="card-body">       
                                <h5 class="card-title"><%= meal.name %></h5>
                                <h6 class="card-subtitle"><%= meal.description %></h6>
                                <p class="card-text">R$ <%= number_with_precision(meal.price, :precision => 2) %></p>
                                <div class="form-group">
                                    <%= label_tag 'quantity', 'Quantidade', class: 'card-text text-muted'  %>
                                    <%= number_field_tag 'quantity', '1', min: 1, step: 1, class: 'form-control' %>
                                </div>
                                <%= button_to 'adicionar ao prato', add_path(id: meal.id, quantity: 1), method: :put,class: "btn btn-success" %>
                            </div>
                        </div>
                        
                <% end %>
                              
            </div>
        <% end %>
  </div>
<% end %>

<!-- Carrinho -->

<h2>Finalizou o seu prato? </h2>
<p>Confira os itens pedidos antes de finalizar o pedido</p>
<% total = 0.00 %>
<% session[:cart] ||= {} %>
<% @meals = Meal.all %>
<div class="d-flex flex-wrap">
<% session[:cart].each do |f| %>
    
    <p><% me = Meal.find(f[0]) %></p>
    <div class="card w-25">
    <% if me.image.attached? %>
        <%= image_tag(meal.image,class:"card-img-top") %>
    <% else %>
        <%= image_tag('food/espaguete.jpg', class:"card-img-top") %>
    <% end %>
        <p><%= me.name %></p>
        <p>Quantidade: <%= f[1] %></p>
        <p class="card-text">Valor unid. R$ <%= number_with_precision(me.price, :precision => 2) %></p>
        <p class="card-text">Valor total R$ <%= number_with_precision(me.price*f[1], :precision => 2) %></p>
        <%= button_to 'remover do meu prato', remove_path(id: f[0]), method: :put,class: "btn btn-danger" %>
    </div>
        
    <% total += me.price*f[1] %>
<% end %>
</div>
<hr>

<p>Preço total do pedido: R$<%= number_with_precision(total, :precision => 2) %></p>
    
    <hr>
    
    <% if user_signed_in? %>
    <%= link_to "finalizar e pagar", orders_path(price: total), method: :POST, class: 'btn btn-success' %>
    <% else %>
    <p>Para finalizar o seu pedido, entre com sua conta ou faça o seu cadastro.</p>
    <%= link_to  "entrar com minha conta", new_user_session_path, class: "btn btn-success" %>
    <%= link_to  "fazer meu cadastro", new_user_registration_path, class: "btn btn-outline-success" %>
    <% end %>

</div>