<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<% if user_signed_in? %>
    <% if current_user.is_admin? %>
      <!-- view do admin -->
      <% @orders.each do |order| %>
        <h5>Pedido número: #<%= order.id %></h5>
        <%= link_to 'Edit Order', edit_order_path(order), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Edit Meals', helper_path(order.id), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Show', order, class: 'btn btn-primary btn-sm' %>
        <%= link_to 'New Order', new_order_path, class: 'btn btn-primary btn-sm' %>
      <% end %>
    <% else %>
      <!-- view do user padrao logado -->
      <%= link_to 'Voltar para Meus Dados', user_path(current_user.id) %>
      <% @orders.where(user_id: current_user.id).each do |ord| %>
        <div class="card">
            <p>id: <%= ord.id %><p>
            <p>Preço total do pedido: R$<%= number_with_precision(ord.price, :precision => 2) %></p>
            <p>Situação: <%= ord.situation.description %><p>
            <p>Conteúdo: </p>
            <% ord.meals.each do |me| %>
              <p><%= me.name  %> </p>
            <% end %>
        </div>
      <% end %>
    <% end %>
<% else %>
<!-- view do user nao logado -->

<% end %>
