<% if user_signed_in? %>
    <% if current_user.is_admin? %>
      <!-- view do admin -->
      <div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>
      <div class="container w-75 bg-light border border-light">
      <table class="table">
      <thead class="thead-light">
        <tr>
          <th>N&ordm; do pedido</th>
          <th>Usuário</th>
          <th>Data do pedido</th>
          <th>Situação do pedido</th>
          <th>Valor</th>
          <th>Itens</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><p><%= order.id %></p></td>
          <td><p><%= order.user.display_name  %></p></td>
          <td><p><%= order.created_at.strftime("%d-%m-%Y")  %></p></td>
          <td><p><%= order.situation.description  %></p></td>
          <td><p>R$<%= number_with_precision(order.price, :precision => 2)  %></p></td>
          <td><%= link_to 'Show', order , class: "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
      </table>
      </div>
    <% else %><!-- view do user padrao logado -->
      <div class="landing_background">
    <%= render partial: "header" %>
    </div>
    <div class="container w-75 bg-light border border-light">
    <table class="table orders_table">
      <thead class="thead-light">
      <tr>
        <th>N&ordm; do pedido</th>
        <th>Data do pedido</th>
        <th>Valor</th>
        <th>Situação</th>
        <th>Itens</th>
        <th>Editar</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.where(user_id: current_user.id).each do |ord| %>
        <tr>
            <td><p><%= ord.id %><p></td>
            <td><p><%= ord.created_at.strftime("%d-%m-%Y") %><p></td>
            <td><p>R$<%= number_with_precision(ord.price, :precision => 2) %></p></td>
            <td><p><%= ord.situation.description %><p></td>
            <td>
            <%= link_to 'Ver itens', order_path(id: ord.id), method: :get ,class: 'btn btn-primary' %>
            </td>
            <td>
            <%= link_to 'Editar', edit_order_path(id: ord.id), method: :get ,class: 'btn btn-warning' %>
            </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    <% end %>
<% else %>
<!-- view do user nao logado -->

<% end %>






