<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.display_name %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @order.situation.description %>
</p>

<p>
  <strong>Refeições:</strong>
  <% @order.order_meals.each do |m| %>
    <p>
      Nome: <%= Meal.find(m.meal_id).name %><br>
      Quantidade: <%= m.quantity %><br>
      Preço: <%= Meal.find(m.meal_id).price %><br>
      Descrição: <%= Meal.find(m.meal_id).description %><br>
      <% if Meal.find(m.meal_id).image.attached? %>
        <%= image_tag(Meal.find(m.meal_id).image, size: '240x135') %>
      <% else %>
        <%= image_tag('food/espaguete.jpg', size: '240x135') %>
      <% end %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
