<head>
    <meta charset='UTF-8'>
</head>
<body>
    <div style='padding-left: 17%; padding-right: 17%;'>
        <h1>Nova Refeição</h1>
        <%= form_for @meal do |f| %>
            <div class='form-group'>
                <%= f.label :name, 'Nome' %>
                <%= f.text_field(:name, class: 'form-control', placeholder: @meal.name) %>
            </div>
            <div class='form-group'>
                <%= f.label :category_id, 'Categoria' %>
                <%= f.collection_select(:category_id, Category.order(:name), :id, :name, {}, {class: 'form-control', placeholder: @meal.category.name}) %>
            </div>
            <div class='form-group'>
                <%= f.label :description, 'Descrição' %>
                <%= f.text_area(:description, class: 'form-control', placeholder: @meal.description) %>
            </div>
            <div class='form-group'>
                <%= f.label :price, 'Preço' %>
                <%= f.number_field(:price, in: 0.01 .. 999.99, step: 0.01, class: 'form-control', placeholder: @meal.price) %>
            </div>
            <div class='form-group'>
                <%= f.label :image, 'Imagem' %>
                <div class='form-group'>
                    <% if @meal.image.attached? %>
                        <%= image_tag(@meal.image, size: '240x135') %>
                    <% else %>
                        <h6>Sem imagem.</h6>
                    <% end %>
                </div>
                <%= f.file_field(:image, class:'form-control') %>
            </div>
            <%= f.submit('Salvar', class: 'btn btn-primary') %>
            <%= link_to 'Voltar', meals_path, class: 'btn btn-primary' %>
        <% end %>
    </div>
</body>