<head>
    <meta charset='UTF-8'>
</head>
<body>
    <h1> Refeições </h1>
    <% @meals.each do |meal| %>
        <h3 style='display: inline;'><%= meal.name %></h3>
        <%= link_to 'Editar', edit_meal_path(meal.id), class: 'btn btn-outline-primary btn-sm' %>
        <%= link_to 'Excluir', destroy_meal_path(meal.id), method: 'delete', class: 'btn btn-outline-primary btn-sm' %>
        <br>
        <h5>R$ <%= meal.price %></h5>
        <p>
            Categoria: <%= meal.category.name %>
            <br>
            Disponibilidade:
            <% if meal.availabel %>
                <font color='DarkGreen'>Disponível</font>
            <% else %>
                <font color='DarkRed'>Indisponível</font>
            <% end %>
            <br>
            Descrição: <%= meal.description %>
        </p>
        <% if meal.image.attached? %>
            <%= image_tag(meal.image, size: '240x135') %>
            <br>
            <br>
        <% end %>
    <% end %>
    <%= link_to 'Nova Refeição', meals_new_path, class: 'btn btn-primary' %>
    <%= link_to 'Voltar', user_path(current_user.id), class: 'btn btn-primary' %>
</body>
