<head>
    <meta charset='UTF-8'>
</head>
<body>
    <% if user_signed_in? %>
    <% if current_user.is_admin? %>
      <div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>
    <%= link_to 'Nova Categoria', categories_new_path, class: 'btn btn-primary' %>
    <div class="container w-75 bg-light border border-light">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Nome</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    <% @categories.each do |category| %>
        <tr>
           <td> <h3 style='display: inline;'><%= category.name %></h3></td>
            <td><%= link_to 'Editar', edit_category_path(category.id), class: 'btn btn-warning' %></td>
           <td> <%= link_to 'Excluir', destroy_category_path(category.id), method: 'delete', class: 'btn btn-danger' %></td>
        <tr>
    <% end %>
        </tbody>
    </table>     
    </div>
    <% end  %>
    <% end  %>
</body>
