<head>
    <meta charset='UTF-8'>
</head>
<body>
<div class="backoffice_background">
        <%= render partial: "layouts/backoffice_header" %>
      </div>
      <%= render partial: "layouts/backoffice_navbar" %>
    <div style='padding-left: 17%; padding-right: 17%;'>
        <h1>Nova Categoria</h1>
        <%= form_for @category do |f| %>
            <div class='form-group'>
                <%= f.label :name, 'Nome' %>
                <%= f.text_field(:name, class: 'form-control') %>
            </div>
            <%= f.submit('Criar', class: 'btn btn-primary') %>
            <%= link_to 'Voltar', categories_path, class: 'btn btn-primary' %>
        <% end %>
    </div>
</body>