<!DOCTYPE html>
<html>
  <head>
    <title>DinnerDash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% unless alert.nil? %>
      <p class="alert alert-success"><%= alert %></p>
  <% end %>
    <%= yield %>

  </body>
</html>
